
/* @media only screen and (max-width: 600px)
@media only screen and (min-width: 600px)
@media only screen and (min-width: 768px)
@media only screen and (min-width: 920px)
@media only screen and (min-width: 1200px){ */ 
  /* @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

 body {
  margin: 0 auto;
  padding: 0;
  background-color: #7C3839;
}
header {
  background-color: #EFEEED;
  background-image: url(./img/Screenshot\ 2023-08-04\ 172656.png);
  padding: 100px;
  background-size: 700px ;
  background-repeat: no-repeat;
  background-position: center;
} */

/* nav ul {
  list-style: none;
  display: flex;
}

nav a:hover {
  background-color: #fffdfd;
  text-decoration: none;
  font-size: 20px;
  color: #7C3839;
  border: 2px solid rgb(9, 9, 9);
  box-shadow: 2px 2px 2px ;
  border-radius: 20px;
  padding: 5px;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: #7C3839;
  border: 3px solid rgb(17, 3, 3);
  box-shadow: 2px 2px 2px black ;
  border-radius: 20px;
  padding: 5px;
} */

/* .banner {
  background-color: #7C3839;
  text-align:center;
  font-size: 60px;
} */

/* 
.services ul{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5px;
} */

/* .frame{
  width: 600px;
  height: 600px;
  padding: 10px;
  margin: 0;
  
}

.services a {
  font-size: 30px;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 260px;
  padding: 5px;
  background-color: #EFEEED;
} */

/* .services a:hover {
 background-color: #7C3839;
 color: #EFEEED;
} */

/* #historia{
  font-size: 20px;
  font-family: 'Lobster', cursive;
  padding: 4px;
  align-items: center;
  justify-content: center;
  background-color: #EFEEED;
  color: black;
  border: 4px solid #000000;
  border-radius: 100px;
}
#contact {
  align-items: center;
  text-align: center;
  font-size: 30px;
}
#social{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}

footer {
  text-align: center;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.whatsapp-float img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #25D366;
  padding: 10px;
} */

/* .popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 5px solid #ccc;
  box-shadow: 0 6px 6px rgba(156, 2, 2, 0.3);
}
.booking-box {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto; 
  max-width: 300px; 
}

.booking-form {
  display: grid;
  gap: 10px;
  text-align: left;
}

#submit-btn {
  background-color: #7C3839;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#submit-btn:hover {
  background-color: #40d60a;
}

#closePopup{
  background-color: #7C3839;
  color: #EFEEED;
}

#closePopup:hover{
  background-color: #e10909;
  color: #EFEEED;
}
